annotated-types==0.7.0
anyio==4.13.0
asgiref==3.11.1
certifi==2026.5.20
colorama==0.4.6
distro==1.9.0
Django==6.0.5
django-environ==0.13.0
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.16
jiter==0.15.0
kiwipiepy==0.23.1
kiwipiepy_model==0.23.0
mysqlclient @ file:///D:/bld/bld/rattler-build_mysqlclient_1772555880/work
numpy==2.4.6
openai==2.38.0
packaging==26.0
pandas==3.0.3
pydantic==2.13.4
pydantic_core==2.46.4
PyMySQL==1.2.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
setuptools==82.0.1
six==1.17.0
sniffio==1.3.1
sqlparse==0.5.5
tqdm==4.67.3
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2026.2
wheel==0.46.3
