# Django 설정
SECRET_KEY=
DEBUG=False

# FastAPI 모델 서버
MODEL_SERVER_URL=
MODEL_SERVER_TIMEOUT=

# RDS
DB_HOST=
DB_PORT=
DB_NAME=
DB_USER=
DB_PASSWORD=

# AWS S3
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_STORAGE_BUCKET_NAME=

# OpenAI
OPENAI_API_KEY=

# Toss Payments
TOSS_CLIENT_KEY=
TOSS_SECRET_KEY=

# Login Provider
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=GOCSPX-

KAKAO_REST_API_KEY=
KAKAO_CLIENT_SECRET=

NAVER_CLIENT_ID=
NAVER_CLIENT_SECRET=